html {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #f02504;
}

.header {
    width: 100%;
    text-align: center;
}

.header > h1 {
    font-size: 8rem;
    color: #dee1d5;
    transition: .5s;
    padding-top: 2%;
}

h1 {
    font-size: 4rem;
}

.flex-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid black;
}

.title {
    width: 35vw;
    margin: auto;
}

.description {
    width: 20vw;
    margin: auto;
}

.details {
    width: 20vw;
    margin: auto;
}

@media(max-width: 800px) {
    
    .header > h1 {
        font-size: 6rem;
        transition: .5s;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .title, .description {
        width: 80%;
    }
}
